// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #F0F8FF;
  color: #708090;
  padding: auto  10px;
}

.banner a{
  text-decoration: none
}
